.card {
    background: #4B4B4B;
    display: block;
    color: white;
    font-family: 'Open Sans', sans-serif;
    min-height: 400px;
    max-width: 300px;
    border-radius: 5%;
    text-align: left;
    box-shadow: 10px 10px 29px 1px rgba(0,0,0,0.46);
}
/* text in card */
.card-inner {
    padding: 2rem;
}
.card h1{
    font-size: medium;
    text-transform: uppercase;
    margin-block-end: 0.3em;
}

.card h2{
    font-style: italic;
    font-size: medium;
    margin-block-start: 0.3em;

}

.card p{
    font-size: small;
    font-weight: 100;
    word-wrap: break-word;
}

.tag{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    height: 30px;

}
.tag-title{
    grid-column: 1 / 3; 
    font-weight: 300;
}

.tag #tag{
    background: #ffffff40;
    vertical-align: middle;
    grid-column-start: 4;
    font-weight: 100;
    font-size: 0.7rem;
    width: 90px;
    height: 22px;
    text-align: center;
    border-radius: 10px;
}