.spacing {
    margin-bottom: 20px;
    margin-top: 20px;
}
.card {
    background: #4B4B4B;
    display: block;
    color: white;
    font-family: 'Open Sans', sans-serif;
    max-height: 400px;
    max-width: 300px;
    border-radius: 5%;
    text-align: left;
    box-shadow: 10px 10px 29px 1px rgba(0,0,0,0.46);
}
/* text in card */
.card-inner {
    padding: 2rem;
}
.card h1{
    font-size: 18px;
    margin-block-start: 1em;
    text-transform: uppercase;
    margin-block-end: 0.3em;
}

.card h2{
    font-style: italic;
    font-size: medium;
    margin-block-start: 0.3em;

}

.card p{
    font-size: small;
}

.description{
    font-weight: 100;
    margin-block-end: 0.3em;
    word-wrap: break-word;
}

.card-img {
    width: 100%;
    background-size: contain;
    height: 70px;
    justify-content: center;
    background-repeat: no-repeat;
    align-self: center;
}

.card a{
    font-size: small;
    color: white;
    text-decoration: none;
    text-align: right;
}

/* tag display */
.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    height: 28px;
    vertical-align: middle;
}
.tag-title{
    grid-column: 1 / 3; 
    font-style: bold;
}

.grid #tag{
    background: #ffffff40;
    grid-column-start: 4;
    font-weight: 100;
    font-size: 0.8rem;
    width: 90px;
    height: 22px;
    text-align: center;
    border-radius: 10px;
    display: inline;
}